/*Smart Phone Screem*/
@media all and (max-width: 480px) {

.missionstatement {
  margin-top:  20%;
  margin-bottom: 0em;
  font-family: 'Outfit', sans-serif !important;
  text-align: center;
  border:  none;
  border-radius: 15px;
  padding: 25px;
  color:white;
  display:inline-block;
  background-color: black;
  font-size: 20px;
  }

  .quote {
    font-size: 28px !important;
    font-family: 'Patua One', cursive;
  }

  .whoarewe {
    font-family: 'Outfit', sans-serif !important;
    color: black;
    text-align: center;
    font-size: 30px;
  }

  .centermission{
    margin-top: ;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 80%;
}

  .weare {
    font-family: 'Outfit', sans-serif;
    color: black;
    text-align: left;
    font-size: 17px;
    margin-top: 20px !important;
  }
}


  /*Any screen bigger than Smart Phone*/
@media all and (min-width:481px) {

.missionstatement {
    margin-top: 15%;
    margin-bottom: 2em;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    border:  none;
    border-radius: 20px;
    padding: 65px;
    color:white;
    display:inline-block;
    background-color: black;
    font-size: 32px;
  }

  .quote {
    font-size: 35px !important;
    font-family: 'Patua One', cursive;
  }

  .whoarewe {
  font-family: 'Outfit', sans-serif;
  color: black;
  text-align: center;
  font-size: 50px;
}

  .centermission{
  margin-top:  ;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 50%;
  }

  .weare {
  font-family: 'Outfit', sans-serif;
  color: black;
  text-align: left;
  font-size: 25px;
  margin-top: 22px !important;
  }
  }

  .underline {
  border-bottom: 3px solid black;
  display: inline;
  }