.passageStops{
  background-color: white;
  mix-blend-mode: overlay;
  width: 5%;
  top: calc(1em + 3px);
  z-index: 10;
}
#passage, .passageStops{ height: 10px; }
#passageWrapper, .passageStops {
  position: sticky; 
  position: -webkit-sticky; 
  z-index: 1; 
}
#passage{ background: violet; margin: 0 0 20px 0;  }
#passageWrapper{
  background-color: white;
  height: 40px;
  top: 0px;
}

.passageStops:nth-child(2){ margin-left: 10%; z-index: 1; }
.passageStops:nth-child(4){ margin-left: 39%; z-index: 2; }
.passageStops:nth-child(6){ margin-left: 30%; z-index: 3; }
.passageStops:nth-child(8){ margin-left: 25%; z-index: 4; }
.passageStops:nth-child(10){ margin-left: 20%; z-index: 5;}
.passageStops:nth-child(12){ margin-left: 15%; z-index: 6;}
.passageStops:nth-child(14){ margin-left: 10%; z-index: 7;}
.passageStops:nth-child(16){ margin-left: 5%; z-index: 8;}



.sections{
  height: 200px; margin-bottom: 20px;
  text-align: center;
}
.captions{
  display: block; margin-top: -1em;
  color: white; font-size: 16pt; font-weight: bolder; text-transform: uppercase;
}
body{
  background: black;
  z-index: 1;
}


img{
width: 150px;
height: 150px;
background: #FFA500;
opacity: 1;
 background-image: url(spin.gif);
 background-size: 100%;
 background-position: center;
}




.pictureback{
 width: 900px;
 height: 150px;
 background: #FFA500;
 opacity: 1;
}

